div#headBanner
{
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 5px;
	height: 65px;
	width: 100%;
	color: white;
	background-color: #e60000;
	text-align: center;
	font-size: 0.75em;
	box-shadow: 1px 1px 50px #888888;
}