body
{
	
	background-color: #b3b3b3;
	
}

li#selected
{
	
	background-color: black;
	
}

div#headBanner
{
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 5px;
	height: 65px;
	width: 100%;
	color: grey;
	background-color: black;
	text-align: center;
	font-size: 0.75em;
	box-shadow: 1px 1px 50px black;
}

div#card
{
	font-size: 20px;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 75px;
	padding: 15px;
	color: grey;
	background-color: black;
	box-shadow: 1px 1px 50px black;
}

h1#button
{
	
	display: inline;
	background-color: #4d4d4d;
	padding: 20px;
	font-size: 1.15em;
	box-shadow: inset 0 -2px 2px rgba(0,0,0,0.5), inset 0 2px 2px rgba(255,255,255,0.8);
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
}