div#cuteNameGen
{
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 75px;
	padding: 15px;
	color: white;
	background-color: #e60000;
	box-shadow: 1px 1px 50px #888888;
}

h1#nameButton
{
	
	display: inline;
	background-color: grey;
	padding: 45px;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
}

div#offensiveNameGen
{
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 75px;
	padding: 15px;
	color: white;
	background-color: #e60000;
	box-shadow: 1px 1px 50px #888888;
}
