div#card
{
	font-size: 20px;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 75px;
	padding: 15px;
	color: white;
	background-color: #e60000;
	box-shadow: 1px 1px 50px #888888;
}